{% if messages[0]['role'] == 'system' %}
   {% set user_index = 1 %}
{% else %}
   {% set user_index = 0 %}
{% endif %}
{% for message in messages %}
   {% if (message['role'] == 'user') != ((loop.index0 + user_index) % 2 == 0) %}
      {{ raise_exception('Conversation roles must alternate user/assistant/user/assistant/...') }}
      {% endif %}
      {% if loop.index0 == 0 %}
         {{ '<s>' }}
         {% endif %}
      {% set content = 'Source: ' + message['role'] + '\n\n ' + message['content'] | trim %}
      {{ content + ' <step> ' }}
{% endfor %}
{{'Source: assistant\nDestination: user\n\n '}}
